.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  background-color: #0864ee;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  color: #f3eded;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 80px;
  height: 8px;
  background: #222; /* detalhe escuro, substitui o SVG verde */
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  border-radius: 4px;
}

.introducao p {
  font-size: 1.5rem;
  color: #000;
  max-width: 40ch;
}

.introducao img {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
  .header-menu a {
    background-color: #0864ee; /* mesma cor */
    color: #f9f9fa;
  }

  .introducao h1 {
    font-size: 3rem;
    padding-top: 20px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 40px;
    height: 6px;
    left: 0;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao img {
    display: none;
  }
}
.texto-inicial {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.2rem;
  color: #333;
  background-color: #f9f9fa;
}
